#
# See the slurm.conf man page for more information.
#
ControlMachine=slurm-ctl
# ControlAddr=127.0.0.1
#BackupController=
#BackupAddr=
#
AuthType=auth/munge
#CheckpointType=checkpoint/none
CryptoType=crypto/munge
CommunicationParameters=NoAddrCache
SlurmctldParameters=enable_configless
#DisableRootJobs=NO
#EnforcePartLimits=NO
#Epilog=
#EpilogSlurmctld=
#FirstJobId=1
#MaxJobId=999999
#GresTypes=
#GroupUpdateForce=0
#GroupUpdateTime=600
#JobCheckpointDir=/var/slurm/checkpoint
#JobCredentialPrivateKey=
#JobCredentialPublicCertificate=
#JobFileAppend=0
#JobRequeue=1
#JobSubmitPlugins=
#KillOnBadExit=0
#LaunchType=launch/slurm
#Licenses=foo*4,bar
#MailProg=/bin/true
#MaxJobCount=5000
#MaxStepCount=40000
#MaxTasksPerNode=128
MpiDefault=pmix
# when running slurmd as user change to: MpiDefault=none
#MpiParams=ports=#-#
#PluginDir=
#PlugStackConfig=
#PrivateData=jobs
{% if slurm_container_privileged -%}
ProctrackType=proctrack/cgroup
{% else -%}
{# when not running privileged docker container, cgroups cannot be used and
   jobs fail without comment in any log #}
ProctrackType=proctrack/linuxproc
{% endif %}
#Prolog=
#PrologFlags=
#PrologSlurmctld=
#PropagatePrioProcess=0
#PropagateResourceLimits=
#PropagateResourceLimitsExcept=
#RebootProgram=
ReturnToService=1
#SallocDefaultCommand=
SlurmctldPidFile=/var/run/slurm/slurmctld.pid
SlurmctldPort=6817
SlurmdPidFile=/var/run/slurm/slurmd.pid
SlurmdPort=6818
SlurmdSpoolDir=/var/spool/slurm/d
SlurmUser={{slurm_slurmctld_user}}
SlurmdUser=root
# SlurmdUser=slurm -> sbatch does not work
#SrunEpilog=
#SrunProlog=
StateSaveLocation=/var/spool/slurm/ctld
SwitchType=switch/none
#TaskEpilog=
{% if slurm_container_privileged -%}
TaskPlugin=task/affinity,task/cgroup
{% else -%}
TaskPlugin=task/none
{% endif %}
#TaskPluginParam=
#TaskProlog=
#TopologyPlugin=topology/tree
#TmpFS=/tmp
#TrackWCKey=no
#TreeWidth=
#UnkillableStepProgram=
#UsePAM=0
#
#
# TIMERS
#BatchStartTimeout=10
#CompleteWait=0
#EpilogMsgTime=2000
#GetEnvTimeout=2
#HealthCheckInterval=0
#HealthCheckProgram=
InactiveLimit=0
KillWait=30
#MessageTimeout=10
#ResvOverRun=0
MinJobAge=300
#OverTimeLimit=0
SlurmctldTimeout=120
SlurmdTimeout=300
#UnkillableStepTimeout=60
#VSizeFactor=0
Waittime=0
#
#
# SCHEDULING
#DefMemPerCPU=0
#FastSchedule=1
#MaxMemPerCPU=0
#SchedulerTimeSlice=30
SchedulerType=sched/backfill
# SelectType=select/linear
SelectType=select/cons_res
#SelectTypeParameters=
SelectTypeParameters=CR_CORE
#
#
# JOB PRIORITY
#PriorityFlags=
#PriorityType=priority/basic
#PriorityDecayHalfLife=
#PriorityCalcPeriod=
#PriorityFavorSmall=
#PriorityMaxAge=
#PriorityUsageResetPeriod=
#PriorityWeightAge=
#PriorityWeightFairshare=
#PriorityWeightJobSize=
#PriorityWeightPartition=
#PriorityWeightQOS=
#
#
# LOGGING AND ACCOUNTING
#AccountingStorageEnforce=0
#AccountingStorageHost=
#AccountingStorageLoc=
#AccountingStoragePass=
#AccountingStoragePort=
AccountingStorageType=accounting_storage/none
#AccountingStorageUser=
AccountingStoreJobComment=YES
ClusterName=cluster
#DebugFlags=Steps,TraceJobs
#JobCompHost=
JobCompLoc=/tmp/jobcomp
#JobCompPass=
#JobCompPort=
JobCompType=jobcomp/filetxt
#JobCompUser=
#JobContainerType=job_container/none
JobAcctGatherFrequency=30
JobAcctGatherType=jobacct_gather/none
SlurmctldDebug=verbose
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdDebug=verbose
SlurmdLogFile=/var/log/slurm/slurmd.log
SlurmSchedLogFile=/var/log/slurm/slurmsched.log
#SlurmSchedLogLevel=
#
#
# POWER SAVE SUPPORT FOR IDLE NODES (optional)
#SuspendProgram=
#ResumeProgram=
#SuspendTimeout=
#ResumeTimeout=
#ResumeRate=
#SuspendExcNodes=
#SuspendExcParts=
#SuspendRate=
#SuspendTime=
#
#
# COMPUTE NODES
NodeName=slurm-exec[1-{{ slurm_num_nodes }}] {{''
	}} CPUs={{ slurm_exec_node_cores }} {{''
	}} RealMemory={{ slurm_exec_node_mem }} {{''
	}} CoresPerSocket={{ slurm_exec_node_cores }} {{''
	}} TmpDisk={{ slurm_exec_node_disk | default('0') }} State=UNKNOWN
{% for p in partitions | default([]) %}
NodeName={{ p.nodeprefix }}[1-{{ p.num_nodes }}] CPUs={{ p.node_cores }} {{''
	}} RealMemory={{ p.node_mem }} {{''
	}} CoresPerSocket={{ p.node_cores }} {{''
	}} TmpDisk={{ p.node_disk | default('0') }} {{''
	}} {%- if p.port is defined %} Port={{ p.port}} {% endif %}{{''
	}} State={{ p.initstate | default('UNKNOWN') }}
{% endfor %}
{% for i in alloc_nodes -%}
NodeName={{i.name}}
	{%- if i.hostname is defined %} NodeHostname={{i.hostname}} {% endif %}
	{%- if i.addr is defined %} NodeAddr={{i.addr}} {% endif %}
	State=UNKNOWN
{% endfor %}
PartitionName=container Nodes=slurm-exec[1-{{slurm_num_nodes}}] {{ ''
	}} AllocNodes={{alloc_nodes |map(attribute='name') | join(',')}} {{ ''
	}} Default=YES MaxTime=INFINITE State=UP
{% for p in partitions | default([]) %}
PartitionName={{ p.name }} Nodes={{ p.nodeprefix }}[1-{{ p.num_nodes }}] {{ ''
	}} AllocNodes={{alloc_nodes |map(attribute='name') | join(',')}} {{ ''
	}} MaxTime=INFINITE State=UP
{% endfor %}
